@model MVCSBD_Sklep.Models.Kategoria

@{
    ViewBag.Title = "Browse";
    ViewBag.Kategoria = Model.Name;

}


<h2>Produkty z kategorii: @Model.Name</h2>
@Html.ActionLink("Powrót do strony głównej", "")
<div style="text-align:left">@Html.ActionLink("Generuj cennik PDF", "ProductsToPDF", new { name = Model.Name})</div>

<p>&nbsp;</p>
<table class="table">
    @foreach (var product in Model.Products)
    {
        <tr>
            <td style="text-align:left; font-size: 15px; font-weight: bold;">
                <a href="@Url.Action("Details", new { id = product.Id })">
                    <span>
                        @foreach (var prod in ViewBag.Producenci)
                        {
                            if (prod.Id == product.Producent_Id)
                            {
                                <span>@prod.Name </span>
                                break;
                            }

                        }
                        @product.Name
                    </span>
                </a>
            <td style="color:red; text-align:right; padding-left: 20px;">@product.Cena PLN</td>
        </tr>
    }

</table>

