@model MVCSBD_Sklep.Models.Kategoria

@{
    ViewBag.Title = "Browse";
    ViewBag.Kategoria = Model.Name;

}
<link href="~/Content/cards.css" rel="stylesheet" />
<link href="~/Content/general.css" rel="stylesheet" />

<div>
    @Html.ActionLink("Powrót do strony głównej", "")
</div>
<div class="heading">
    <h2>Produkty z kategorii: @Model.Name</h2>
    <div>@Html.ActionLink("Generuj cennik PDF", "ProductsToPDF", new { name = Model.Name })</div>
</div>
<div class="card-container">
    <div class="card-grid">
        @foreach (var product in Model.Products)
        {
            <a class="product-card" href="/Store/Details/@product.Id">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Test.svg" class="product-img" />
                @*Tu będzie product.img czy coś ^*@
                <h3>@product.Name</h3>
                <p class="small">@product.Cena PLN</p>
            </a>
        }
    </div>
</div>


