@model IEnumerable<MVCSBD_Sklep.Models.Zamówienie>

@{
    ViewBag.Title = "Moje zamówienia";
}

<h2>Moje zamówienia:</h2>

<table class="table">
    <tr>
        <th>
            Numer zamówienia:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            Całkowita wartość:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryState.Name):
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.deliveryState.Name)
    </td>
    <td>
        @Html.ActionLink("Szczegóły", "OrderDetails", new { id = item.OrderId })
    </td>
</tr>
}

</table>
