@model MVCSBD_Sklep.Models.Product
@{ ViewBag.Title = "Home Page";
}

<link href="~/Content/cards.css" rel="stylesheet" />
<link href="~/Content/general.css" rel="stylesheet" />


<div class="jumbotron">
    <h1>X-moreltronik.com</h1>
    <p class="lead">Tu będzie więcej rzeczy. Chyba.</p>
</div>
@if (ViewBag.Promocja != null)
{
    <div>
        <p style="text-align:center;">Kliencie! Z kodem <b>"@ViewBag.Promocja.Code"</b> otrzymasz <span style="color:red;">@ViewBag.Promocja.Discount%</span> zniżki przy następnym zamówieniu! Oferta ważna do <b>@ViewBag.Promocja.ValidUntil</b> !</p>
    </div>
}
<div>
    <div class="heading">
        <h2>Najczęściej kupowane produkty:</h2>
    </div>
    <div class="card-container">
        <div class="card-row">
            @foreach (MVCSBD_Sklep.Models.Product product in ViewBag.TopSellingProducts)
            {
                <p>
                    <a class="top-product-card" href="/Store/Details/@product.Id">
                        @{
                            if (Directory.Exists(Server.MapPath("~/UploadedPhotos/" + product.Id + "/")))
                            {
                                string link = "/UploadedPhotos/" + product.Id + "/";
                                if (Directory.EnumerateFileSystemEntries(Server.MapPath("~/UploadedPhotos/" + product.Id + "/")).Any())
                                {
                                    IEnumerable<dynamic> files = Directory.GetFiles(Server.MapPath("~/UploadedPhotos/" + product.Id + "/"));
                                    files = files.Select(f => new { FileName = Path.GetFileName(f) });
                                    <img class="mini-product-img" src="@Url.Action("FileDownload", new { path = Server.MapPath("~/UploadedPhotos/" + product.Id + "/" + files.First().FileName.Replace(" ", "%20")) })" alt="@files.First().FileName" />
                                }
                            }
                            else
                            {
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Test.svg" class="mini-product-img" /> @*Tu będzie Model.Img/Product.Img*@
                            }
                        }
                    </a>
                    Kupiono: @product.OrderCount X
                </p>
            }
        </div>
    </div>
</div>

<div>
    <div class="heading">
        <h2>Ostatnio dodane produkty:</h2>
    </div>
    <div class="card-container">
        <div class="card-row">
            @foreach (MVCSBD_Sklep.Models.Product product in ViewBag.Produkty)
            {
                <a class="top-product-card" href="/Store/Details/@product.Id">
                    @{
                        if (Directory.Exists(Server.MapPath("~/UploadedPhotos/" + product.Id + "/")))
                        {
                            string link = "/UploadedPhotos/" + product.Id + "/";
                            if (Directory.EnumerateFileSystemEntries(Server.MapPath("~/UploadedPhotos/" + product.Id + "/")).Any())
                            {
                                IEnumerable<dynamic> files = Directory.GetFiles(Server.MapPath("~/UploadedPhotos/" + product.Id + "/"));
                                files = files.Select(f => new { FileName = Path.GetFileName(f) });
                                <img class="mini-product-img" src="@Url.Action("FileDownload", new { path = Server.MapPath("~/UploadedPhotos/" + product.Id + "/" + files.First().FileName.Replace(" ", "%20")) })" alt="@files.First().FileName" />
                            }
                        }
                        else
                        {
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Test.svg" class="mini-product-img" /> @*Tu będzie Model.Img/Product.Img*@
                        }
                    }
                </a>
            }
        </div>
    </div>
</div>
