@model MVCSBD_Sklep.Models.Product

@{
    ViewBag.Title = "Usuń produkt";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Producent:
        </dt>

        <dd>
            @ViewBag.prod
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CzyRGB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzyRGB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ButtonCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ButtonCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWireless)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWireless)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
